<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!--remove dory aar permission-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.BLUETOOTH"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"
        tools:node="remove"/>
    <uses-permission android:name="android.permission.CAMERA" tools:node="remove"/>
    <!-- dory -->
    <uses-permission android:name="android.permission.REORDER_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />
    <supports-gl-texture android:name="GL_OES_compressed_ETC1_RGB8_texture" />
    <supports-gl-texture android:name="GL_OES_compressed_paletted_texture" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />
    <!--咪咕一级 sdk start-->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!--android 11-->
    <queries>
        <package android:name="com.vrviu.ls.bridge" />
    </queries>
    <!--咪咕一级 sdk end-->
    <application>
        <activity android:name="com.migugame.cpsdk.activity.AvoidplayActivity"
            tools:replace="android:screenOrientation"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize|keyboardHidden"/>
        <!--用户中心 Activity 声明 start，使用 sdk login 时需要-->
        <activity
            android:name="com.cmcc.migusso.sdk.activity.PopUpLoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize
|screenLayout|smallestScreenSize|density"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>